<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      {{ collection_header }}
      <div class="user-box">

        <div class="us-user">
          {% if author.user_picture %}
            <img alt=""
                 src="{{ file_url(author.user_picture.entity.uri.value | image_style('recent_tips')) }} ">
          {% endif %}
          <p>
            {% if author.field_first_name.value and author.field_first_name.value %}
              {{ author.field_first_name.value }} {{ author.field_last_name.value }}
            {% else %}
              {{ author.name.value }}
            {% endif %}</p>
        </div>
        <div class="user-socer">
          <h2>{{ 'Your score is:'|t }}</h2>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="radial progress-{{ score.correct_percent }} small" id="progress-small">
                <div class="overlay">
                                            <span class="pr-icon-true">
                                            </span>
                  <p>{{ 'Correct Answers'|t }}</p>
                  <strong>{{ score.correct }}</strong>
                </div>
                <div class="dot"></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="welldone">
                <div class="wd-round">
                  <strong>{{ score.score }}</strong>
                </div>
                {% if score.score >= 6.5 %}
                  <p>{{ 'Well done !'|t }}</p>
                {% endif %}
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="radial progress-{{ score.time_spend }} big" id="progress-big">
                <div class="overlay">
                                            <span class="pr-icon-time">
                                            </span>
                  <p>{{ 'Time Spent'|t }}</p>
                  <strong>{{ score.time }}</strong>
                  <em>({{ node.field_duration.value }}:00)</em>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="share-socer">
          <h3>{{ 'Share your score with your friends or tutors:'|t }}</h3>
          <input type="text" class="txt txt-link share-result" value="{{ url('<current>') }}"/>
          <div class="ss-social">
            <a href="#" class="btn btn-coppy-url share-result">
              <span class="icon-copy"></span>
              {{ 'Copy URL'|t }}
            </a>
            <div class="ss-share a2a_kit">
              <span>&nbsp; </span>
              <a class="a2a_button_facebook" href="#"><i class="fa fa-facebook"></i></a>
              <a class="a2a_button_twitter" href="#"><i class="fa fa-twitter"></i></a>
              <a class="a2a_button_google_plus" href="#"><i class="fa fa-google-plus"></i></a>
              {#<a href="#"><i class="fa fa-weibo"></i></a>#}
            </div>
          </div>
        </div>
        <!---box-->
        <div class="band-score hidden-sm hidden-xs">
          <div class="bs-item">
            <span>{{ 'Band Score'|t }}</span>
            {% for key,score in mapping['mapp'] %}
              {% if(score >=3) %}
                {% if score==mapping['score'][key] %}
                  <div class="current">{{ score }}
                    <div class="your-score">
                      <em></em>
                    </div>
                  </div>
                {% else %}
                  <div>{{ score }}</div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="bs-item bs-item-correct">
            <span>{{ 'Correct Count:'|t }}</span>
            {% for key,score in mapping['mapp'] %}
              {% if(score >=3) %}
                <div>{{ key }}</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <!---box-->
        <div class="box-caption box-caption-margin">
          <p><span class="bc-icon icon-lego"></span> {{ 'Answer Keys:'|t }} </p>
          <div class="bc-right">
            <a class="use-ajax" data-dialog-type="modal" href="/report/{{ node.nid.value }}/mistake"
               class="report">{{ 'Report Mistake'|t }}</a>
          </div>
        </div>
        {{ score_table }}
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="hidden-lg hidden-md">
        <div class="box-caption box-caption-margin text-center">
          <p>{{ 'Review your test now?'|t }}</p>
        </div>
        <div class="reviews-test-mobile">
          <div class="icon-review">
          </div>
          <a class="btn-show-re" href="#"><span></span> {{ 'Enter Review & Explanations'|t }} </a>
        </div>
      </div>
      {{ leader_board }}
    </div>
  </div>
</div>
{#close firt wrapper#}
<section class="review-explanation hidden-sm hidden-xs">
  <div class="container-fluid">
    <div class="box-caption box-caption-white">
      <p><span class="bc-icon icon-review"></span>{{ 'Review & Explanations:'|t }} </p>
      <div class="close-rx">
        <span></span>
        <span class="last"></span>
      </div>
    </div>
    <div class="reading-box-embeb">
      <div class="reading-box api">

        <div id="slpit-one" class="split split-item">
          <div class="split-left cyan">
            {% for sec in secs %}
              <div id="set-question-{{ loop.index }}"
                   class="tab-section-question-reading {{ loop.index==1? 'active':'hidden' }}">
                <div class="sl-caption">
                  <span>{{ sec.section.field_title_ui.value }}: {{ sec.section.field_question_range.value }}</span>
                </div>
                {#Question item#}
                <div class="sec-content-{{ loop.index }} ">
                  {% for question in sec.questions %}
                    <div class="question question-{{ loop.index }}">{{ question.content|raw }}</div>
                  {% endfor %}
                </div>
                {#section button#}
                <div class="sl-caption sl-caption-bottom">
                  <div class="sl-caption-right">
                    {% if loop.index - 1 > 0 %}
                      <a data="{{ loop.index - 1 }}" href="#section-{{ loop.index - 1 }}"
                         class="btn-section actions-section">
                        {{ 'Previous Section'|t }}
                      </a>
                    {% endif %}
                    {% if (loop.index + 1) <= 4 %}
                      <a data="{{ loop.index + 1 }}" href="#section-{{ loop.index + 1 }}"
                         class="btn-section actions-section">
                        {{ 'Next Section'|t }}
                      </a>
                    {% endif %}
                  </div>
                  <span>{{ sec.section.field_title_ui.value }}</span>
                  <h2>{{ sec.section.field_question_range.value }}</h2>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
        <div id="slpit-two" class="split split-item split-item-no-relative">
          <div class="player-listening player player-fixed">
            <audio id="audio-player"
                   class="progression-single progression-skin progression-audio-player"
                   controls="controls" preload="none">
              <source src="{{ audio }}" type="audio/mp3"/>
            </audio>
          </div>
          <div class="split-right split-video">
            {% for sec in secs %}
              <div id="set-container-{{ loop.index }}"
                   class="tab-section-reading {{ loop.index==1? 'active':'hidden' }}">
                <h2 class="subtitle"> {{ sec.section.field_subtitle_section.value|raw }}</h2>
                <div class="passage-content"> {{ sec.section.field_audio_sc.value|raw }}</div>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<div id="stopwatch" class="hidden"></div>
