<p>{{ 'Reading Practice'|t }}</p>
<div class="header" style="text-align: center; margin-bottom: 20px; margin-top: 20px;">
  <h2>{{ node.field_title_ui.value }}</h2>
</div>

<div style="page-break-after: always">
  {% for sec in secs %}
    <div class="passage-description"> {{ sec.section.field_passage_desc.value|raw }}</div>
    <div class="section-image"><img height="auto"
                                    src="{{ file_url(sec.section.field_image.0.entity.uri.value) }}"/>
    </div>
    <h2 class="subtitle"> {{ sec.section.field_subtitle_section.value|raw }}</h2>
    <div class="passage-content"> {{ sec.section.field_passage.value|raw }}</div>
  {% endfor %}
</div>
<div style="page-break-before: always" class="question" style="width: 600px">

  {% for sec in secs %}
    {% for question in sec.questions %}
      <div class="question question-{{ loop.index }}">{{ question.content|raw }}</div>
    {% endfor %}
    {#</div>#}

  {% endfor %}
</div>
<div id="solution" style="page-break-before: always;">
  <div class="box-caption box-caption-margin">
    <p><span class="bc-icon icon-lego"></span> {{ 'Solution:'|t }} </p>
  </div>
  {{ score_table }}
</div>

<style>
  .list-answer li {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 40px;
    list-style: none;
    float: left;
    width: 50%;
  }

  .list-answer li {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 35px;
    list-style: none;
    float: left;
    width: 50%;
  }

  .list-answer li span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -3px 0px 0px -40px;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border-radius: 50%;
    background: none;
  }
</style>
