<div class="content">
  <h2 class="title">{{ node.title.value }}</h2>
</div>
<div class="practice">
  <a class="use-ajax btn btn-primary" data-dialog-type="modal"
     href="/node/add/quiz?cid={{ node.nid.value }}"> {{ 'Add Set'|t }}</a>
  <a class="btn btn-info" href="/user/collections"> {{ 'Back to My Collection'|t }}</a>
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>{{ 'Set Title'|t }}</th>
      <th colspan=2>{{ 'Action'|t }}</th>
      <th>{{ 'Manage Quiz'|t }}</th>
    </tr>
    </thead>
    <tbody>
    {% for set in sets %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ set.title.value }}</td>
        <td><a class="use-ajax btn btn-success" data-dialog-type="modal"
               href="/node/{{ set.nid.value }}/edit?destination=/collection/{{ node.nid.value }}/manage">{{ 'edit'|t }}</a>
        </td>
        <td><a class="use-ajax btn btn-primary" data-dialog-type="modal"
               href="/node/{{ set.nid.value }}/delete?destination=/collection/{{ node.nid.value }}/manage">{{ 'delete'|t }}</a>
        </td>
        <td>
          <div class="exam-list">
            <div class="container-fluid">
              <a href="/set/{{ set.nid.value }}/listening/manage"
                 class="btn {{ set.field_listening_sections.value? 'btn-primary' : 'btn-default' }} exam-buttons"><span
                  class="glyphicon glyphicon-headphones"></span> {{ 'Listening'|t }}</a>
              <a href="/set/{{ set.nid.value }}/reading/manage"
                 class="btn {{ set.field_reading_sections.value? 'btn-success' : 'btn-default' }} exam-buttons"><span
                  class="glyphicon glyphicon-text-color"></span> {{ 'Reading'|t }}</a>
              <a href="/set/{{ set.nid.value }}/writing/manage"
                 class="btn {{ set.field_listening_sections.value? 'btn-primary' : 'btn-default' }} exam-buttons"><span
                  class="glyphicon glyphicon-headphones"></span> {{ 'Writing'|t }}</a>
              <a href="/set/{{ set.nid.value }}/speaking/manage"
                 class="btn {{ set.field_listening_sections.value? 'btn-primary' : 'btn-default' }} exam-buttons"><span
                  class="glyphicon glyphicon-headphones"></span> {{ 'Speaking'|t }}</a>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
