<li>
  <span>
    <span class="lq-number">{{ opt_value }}</span>
    <span class="my-check">
      <input type="checkbox" {{ ext_attr }} id="q-{{ id }}-{{ opt_value }}" name="q-{{ q_num }}"
             data-q_type="{{ q_type }}" value="{{ opt_value }}">
      <label for="q-{{ id }}-{{ opt_value }}">{{ opt_option }}</label>
    </span>
  </span>
</li>
