<span class="number-wrap-inline">
    <span class="number">{{ q_num }}</span>
    <input type="text"{{ ext_attr }} class="iot-question" data-num="{{ q_num }}" data-q_type="{{ q_type }}"
           id="q-{{ q_num }}" spellcheck="false">
</span>
